.bwm-indicator {
    spacing: 2px;
}

.bwm-logo-btn {
    padding: 0 10px;
    border-radius: 9999px;
    transition-duration: 150ms;
}

.bwm-logo-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.bwm-ws {
    padding: 0 6px;
    border-radius: 9999px;
    transition-duration: 150ms;
}

.bwm-ws:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.bwm-ws-active {
    background-color: rgba(255, 255, 255, 0.15);
}

.bwm-ws-active:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.bwm-ws-row {
    spacing: 1px;
}

.bwm-ws-num {
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
}

.bwm-app-icon {
    padding: 0 1px;
}

.bwm-ws-plus {
    opacity: 0.6;
}